<div class="container">
    <div class="max-w-4xl mx-auto z-20">
      <h1 class="text-2xl font-bold mb-3 mt-3">新しいドリンクの追加</h1>

      <%= form_with model: @drink, url: admin_drinks_path, local: true do |form| %>
        <div class="mb-4">
          <%= form.label :name, "ドリンク名", class: "block text-sm font-medium text-gray-700" %>
          <%= form.text_field :name, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" %>
        </div>

        <div class="mb-4">
          <%= form.label :description, "説明", class: "block text-sm font-medium text-gray-700" %>
          <%= form.text_area :description, rows: 3, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" %>
        </div>

        <div class="mb-4">
          <%= form.label :alcohol, "アルコール度数", class: "block text-sm font-medium text-gray-700" %>
          <%= form.number_field :alcohol, step: :any, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" %>
        </div>

        <div class="mb-4">
          <%= form.label :drink_image, "ドリンク画像", class: "block text-sm font-medium text-gray-700" %>
          <%= form.file_field :drink_image, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" %>
        </div>

        <div class="mb-4">
          <%= form.label :mixing_instructions, "作り方", class: "block text-sm font-medium text-gray-700" %>
          <%= form.text_area :mixing_instructions, rows: 4, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" %>
        </div>

        <div class="mb-4">
          <%= form.label :category, "カテゴリー", class: "block text-sm font-medium text-gray-700" %>
          <%= form.select :category, ["beer", "wine", "nihonshu", "shochu", "cocktail", "etc"], prompt: "カテゴリーを選択", class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" %>
        </div>

        <div class="mb-4">
          <%= form.submit "追加", class: "inline-flex items-center px-4 py-2 border border-transparent text-lg font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
        </div>
      <% end %>
    </div>
</div>
