<% content_for :title, @drink.name %>
<% content_for :og_title, @drink.name %>
<% content_for :og_description, @drink.description %>
<% content_for :og_url, request.original_url %>

<div class="container mx-auto pt-5">
  <div class="mb-3">
    <div class="max-w-4xl mx-auto">
      <h1 class="text-2xl font-bold mb-5">投稿詳細</h1>
      <article class="bg-white shadow rounded-lg overflow-hidden flex">
        <!-- 画像 -->
        <div class="w-48 h-48 flex-shrink-0">
          <%= image_tag @drink.drink_image_url, class: "w-full h-full object-cover rounded-md" %>
        </div>
        <!-- タイトル、詳細情報 -->
        <div class="p-4 flex-1">
          <div class="flex items-center justify-between">
            <h3 class="text-lg font-semibold mb-2"><%= @drink.name %></h3>
            <!-- アルコール度数 -->
            <p class="text-sm text-gray-600">
              アルコール度数: <%= @drink.alcohol %>%
            </p>
          </div>
          <!-- 本文 -->
          <p class="mt-4 text-gray-700 leading-relaxed"><%= simple_format(@drink.description) %></p>
          <!-- 作り方 -->
          <p class="mt-4 text-gray-700 leading-relaxed">
            作り方: <%= @drink.mixing_instructions %>
          </p>
        </div>
      </article>
    </div>
  </div>
</div>