<header class="fixed top-0 left-0 w-full text-black z-20">
  <div class="container mx-auto px-4 py-4 flex items-end justify-between">
    <!-- ロゴ (常にトップページに遷移) -->
    <div class="flex items-end space-x-6">
      <%= link_to "DrinkCollection", root_path, class: "text-xl font-bold" %>

      <!-- ナビゲーション(画面サイズに関わらず常に表示) -->
      <nav class="flex space-x-4">
        <%= link_to category_path("beer"), class: "hover:invert" do %>
          <img src="/assets/beer.png" alt="ビール" class="h-6 w-auto">
        <% end %>
        <%= link_to category_path("wine"), class: "hover:invert" do %>
          <img src="/assets/wine.png" alt="ワイン" class="h-6 w-auto">
        <% end %>
        <%= link_to category_path("nihonshu"), class: "hover:invert" do %>
          <img src="/assets/nihonshu.png" alt="日本酒" class="h-6 w-auto">
        <% end %>
        <%= link_to category_path("shochu"), class: "hover:invert" do %>
          <img src="/assets/shochu.png" alt="焼酎" class="h-6 w-auto">
        <% end %>
        <%= link_to category_path("cocktail"), class: "hover:invert" do %>
          <img src="/assets/cocktail.png" alt="カクテル" class="h-6 w-auto">
        <% end %>
        <%= link_to category_path("etc"), class: "hover:invert" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
          </svg>
        <% end %>
      </nav>
    </div>

    <!-- ナビゲーション(画面が大きい場合表示) -->
    <nav class="hidden md:flex space-x-4">
      <%= link_to "新規登録", new_user_path, class: "hover:text-gray-300" %>
      <%= link_to t("header.login"), login_path, class: "hover:text-gray-300" %>
    </nav>

    <!-- ハンバーガーメニュー(モバイル画面時に適用) -->
    <div class="md:hidden">
      <button class="text-black focus:outline-none">
        <!-- アイコン (Heroiconsを使用) -->
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
    </div>
  </div>
</header>

<div class="pt-16"></div>
