<header class="fixed top-0 left-0 w-full text-black z-20">
  <div class="container mx-auto px-4 py-4 flex items-end justify-between">
    <!-- ロゴ (常にトップページに遷移) -->
    <div class="flex items-end space-x-6">
      <%= link_to "DrinkCollection", root_path, class: "text-xl font-bold" %>

      <!-- ナビゲーション(画面サイズに関わらず常に表示) -->
      <nav class="flex space-x-4">
        <%= link_to "ビール", "#", class: "hover:text-gray-300" %>
        <%= link_to "ワイン", "#", class: "hover:text-gray-300" %>
        <%= link_to "日本酒", "#", class: "hover:text-gray-300" %>
        <%= link_to "焼酎", "#", class: "hover:text-gray-300" %>
        <%= link_to "カクテル", "#", class: "hover:text-gray-300" %>
        <%= link_to "etc.", "#", class: "hover:text-gray-300" %>
      </nav>
    </div>

    <!-- ナビゲーション(画面が大きい場合表示) -->
    <nav class="hidden md:flex space-x-4">
      <%= link_to "投稿作成", "#", class: "hover:text-gray-300" %>
      <%= link_to "投稿一覧", posts_path, class: "hover:text-gray-300" %>
      <%= link_to "マイページ", "#", class: "hover:text-gray-300" %>
      <%= link_to "ログアウト", logout_path, method: :delete, class: "hover:text-gray-300", data: { turbo_method: "delete" } %>
    </nav>

    <!-- ハンバーガーメニュー(モバイル画面時に適用) -->
    <div class="md:hidden">
      <button class="text-black focus:outline-none">
        <!-- アイコン (Heroiconsを使用) -->
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
    </div>
  </div>
</header>
