<div class="pt-16"></div>
<header class="fixed top-0 left-0 w-full bg-amber-300 text-black z-20">
  <div class="container mx-auto px-4 py-4 flex items-center justify-between">
    <!-- ロゴ (常にトップページに遷移) -->
    <div class="flex space-x-6">
      <%= link_to "DrinkCollection", root_path, class: "text-2xl font-bold" %>

      <!-- ナビゲーション(画面サイズに関わらず常に表示) -->
      <nav class="flex mt-1 space-x-4">
        <%= link_to "ビール", category_path(Category.find_by(name: "ビール").id), class: "hover:invert" %>
        <%= link_to "ワイン", category_path(Category.find_by(name: "ワイン").id), class: "hover:invert" %>
        <%= link_to "日本酒", category_path(Category.find_by(name: "日本酒").id), class: "hover:invert" %>
        <%= link_to "焼酎", category_path(Category.find_by(name: "焼酎").id), class: "hover:invert" %>
        <%= link_to "カクテル", category_path(Category.find_by(name: "カクテル").id), class: "hover:invert" %>
        <%= link_to category_path(Category.find_by(name: "etc").id), class: "hover:invert" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
          </svg>
        <% end %>
      </nav>
    </div>

    <!-- 検索フォーム -->
    <div class="search-bar">
      <%= search_form_for @q, url: drinks_path, method: :get, html: { class: "search-form" } do |form| %>
        <div class="search-inputs">
          <!-- 名前検索 -->
          <%= form.text_field :name_or_description_or_mixing_instructions_cont, placeholder: "ドリンク名", class: "search-input px-4 py-2 border border-gray-300 rounded" %>
          <!-- 最低度数のプルダウン -->
          <%= form.select :alcohol_gteq, options_for_select([["0%以上", 0.0], ["1%以上", 1.0], ["5%以上", 5.0], ["10%以上", 10.0], ["15%以上", 15.0], ["20%以上", 20.0], ["30%以上", 30.0], ["40%以上", 40.0], ["50%以上", 50.0]], params.dig(:q, :alcohol_gteq)), prompt: "最低度数" %>
          <!-- 最高度数のプルダウン -->
          <%= form.select :alcohol_lteq, options_for_select([["5%以下", 5.0], ["10%以下", 10.0], ["15%以下", 15.0], ["20%以下", 20.0], ["30%以下", 30.0], ["40%以下", 40.0], ["50%以下", 50.0], ["60%以下", 60.0], ["70%以下", 70.0], ["80%以下", 80.0], ["90%以下", 90.0], ["100%以下", 100.0]], params.dig(:q, :alcohol_lteq)), prompt: "最高度数" %>
          <!-- カテゴリー選択 -->
          <%= form.select :category_id_eq, options_for_select(Category.order(:id).map { |c| [c.display_name, c.id] }, selected: params.dig(:q, :category_id_eq)), prompt: "カテゴリー" %>
          <!-- 検索ボタン -->
          <%= form.submit "検索", class: "search-btn bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
        </div>
      <% end %>
    </div>

    <!-- ハンバーガーメニュー（DaisyUI） -->
    <div class="navbar text-black z-50 relative">
      <div class="navbar-end">
        <div class="dropdown dropdown-left">
          <!-- ハンバーガーアイコン -->
          <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </div>

          <!-- メニュー項目 -->
          <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-white rounded-box w-52 text-base">
            <li>
              <%= link_to t("header.create_post"), new_post_path, class: "text-black hover:bg-gray-100" %>
            </li>
            <li>
              <%= link_to t("header.post_index"), posts_path, class: "text-black hover:bg-gray-100" %>
            </li>
            <li>
              <%= link_to t("header.my_page"), mypage_path, class: "text-black hover:bg-gray-100" %>
            </li>
            <li>
              <%= link_to t("header.logout"), logout_path, method: :delete, data: { turbo_method: "delete" },
                    class: "text-black hover:bg-gray-100" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
