<%= form_with model: @post, class: "space-y-6" do |form| %>
  <%= render 'shared/error_messages', object: form.object %>
  <!-- タイトル入力 -->
  <div>
    <%= form.label :title, "お酒名", class: "block text-lg font-medium text-gray-700" %>
    <%= form.text_field :title, placeholder: "投稿したいお酒を書こう", class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" %>
  </div>
  <!-- 本文入力 -->
  <div>
    <%= form.label :body, "コメント", class: "block text-lg font-medium text-gray-700" %>
    <%= form.text_area :body, rows: "10", placeholder: "どんなお酒か教えて！", class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" %>
  </div>
  <!-- 画像アップロード -->
  <div>
    <%= form.label :post_image, "お酒の写真", class: "block text-lg font-medium text-gray-700" %>
    <%= form.file_field :post_image, accept: "image/*", class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" %>
    <%= form.hidden_field :post_image_cache %>
    </div>
  <!-- 送信ボタン -->
  <div>
    <%= form.submit "投稿する", class: "inline-flex items-center px-4 py-2 border border-transparent text-lg font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
  </div>
<% end %>
