<div class="container mx-auto pt-6">
  <!-- 投稿一覧 -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <% if @posts.present? %>
      <div id="post-id-<%= post.id %>" class="bg-white shadow-md rounded-lg overflow-hidden flex">
        <!-- 画像 -->
        <div class="w-48 h-48 flex-shrink-0">
          <%= link_to post_path(post), class: "block" do %>
            <%= image_tag post.post_image_url, class: "w-48 h-48 object-cover" %>
          <% end %>
        </div>
        <!-- コンテンツ -->
        <div class="p-4 flex-1">
          <div class="flex items-center justify-between">
          <!-- タイトル -->
          <h4 class="text-lg font-bold">
            <%= link_to post.title, post_path(post), class: "text-gray-800 hover:text-gray-600" %>
          </h4>
        </div>
        <!-- 本文 -->
        <p class="mt-4 text-gray-700 leading-relaxed"><%= simple_format(post.body) %></p>
        <!-- 日付 -->
        <ul class="text-sm text-gray-600 mt-2">
          <li class="flex items-center mt-1">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            <%= l post.created_at, format: :short %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
