<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "DrinkCollection" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  
    <!-- OGP設定 -->
    <meta property="og:title" content="<%= yield(:og_title) || 'Default Title' %>">
    <meta property="og:description" content="<%= yield(:og_description) || 'Default Description' %>">
    <meta property="og:image" content="<%= image_url('ogp-image.png') %>">
    <meta property="og:url" content="<%= yield(:og_url) || request.original_url %>">
    <meta property="og:type" content="article">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <% if logged_in? %>
      <%= render "shared/header" %>
    <% else %>
      <%= render "shared/before_login_header" %>
    <% end %>
    <%= render "shared/flash_message" %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
